
html, body{
  background-color: #ffff;
}

h1{
  color: #000;
  font-size: 3rem;
}

p{
  color: #000;
}

#submitBtn{
  background-color: #000;
  border: 0px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  width: 100%;
  font-weight: 500;
}

#submitBtn:hover{
  opacity: 0.8;
}

.coffeeLogo{
  font-size: 2em;
  /* background-color: black; */
  color: #000;
  padding: 10px;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  border: 2px solid;
}